main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
  width: 25%;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  font-size: large;
}

figcaption {
  margin-bottom: 2.5rem;
}

span {
  font-weight: lighter;
}

figure img {
  width: 100%;
}

input {
  width: 90%;
  padding: 0.5rem;
}
