section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

figure {
  width: 25%;
  border: 1px solid black;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: grey;
}

figure img {
  width: 100%;
}
