<section>
  <h1>Pokemon Cards</h1>
  <article>
    @if (loading) {
      <h4>Loading Pokemons...!!!</h4>
    } @else {
      @for (pokemon of pokemons; track pokemon.id) {
        <figure>
          <figcaption>
            <h2>{{ pokemon.name }} @if (pokemon.level) {
              <span id="psmall">LV.</span><span id="plarge">{{ pokemon.level }}</span>
            }</h2>
            <h3><span id="psmall">HP</span><span id="plarge">{{ pokemon.hp }}</span></h3>
          </figcaption>
          <img [src]="pokemon.images.large" alt="">
        </figure>
      } @empty {
        <h4>No Pokemons found</h4>
      }
    }
  </article>
</section>
